* {
	margin: 0;
	padding: 0;
	font-size: 12px;
	box-sizing: border-box;
	font-family: FiraCode;
	color: #dadada;
	text-shadow: 0 0 0px black;
	border-collapse: collapse;
}

label {
	display: none;
}

@font-face {
	font-family: FiraCode;
	src: url("FiraCode-VariableFont_wght.ttf");
}




body {
	background-color: #3d3d3d;
}


#blank_space {
	height: 60px;
}


#base_for_clone {
	display: none !important;
}


.img_inner {
	width: 200px; 
	height: 200px;
	opacity: 0.05;
}


.img_inner_glow {
    width: 100%;
    height: 100%;
    opacity: 0;
    filter: blur(20px) saturate(5);
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}


div#date_time {
    position: absolute;
    padding: 5px;
    font-size: 10px;
	z-index: 2;
}


div#box_content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	align-items: flex-end;
	max-width: 1200px;
	margin: 0 auto;
	will-change: opacity;
}


div#findtag {	
	padding: 10px;
	position: fixed;
	bottom: 0px;
	z-index: 10;
	background: navy;
	width: 100%;
	box-shadow: 0px 0px 0px 1px inset #7d7d7d, 1px 1px 2px 0px #000000;
	margin: 0 auto;
	text-align: center;
}


div#top_header {
	padding: 10px;
	position: sticky;
	top: 0px;
	z-index: 10;
	background: navy;
	width: 100%;
	box-shadow: 0px 0px 0px 1px inset #7d7d7d, 1px 1px 3px 2px #000000;
	border-radius: 3px;
}


div#info_1 {
	padding: 20px;
    margin: 10px;
    width: -webkit-fill-available;
    box-shadow: 0px 0px 0px 1px inset #7d7d7d, 1px 1px 2px 0px #000000, 1px 1px 0px 2px #000000, 2px 2px 5px 2px #000000;
    background: #000;
    border-radius: 3px;
    text-align: center;
}


input#input_box_tag {
	/* font-size: 18px; */
	width: 50%;
	padding: 10px;
	max-width: 300px;
	box-shadow: 0px 0px 0px 1px inset #7d7d7d, inset 0px 1px 3px 1px #000;
	border: none;
	color: black;
}

.model_box {
	padding: 0px;
	margin: 5px;
	/* min-height: 150px; */
	width: 200px;
	box-shadow: 0px 0px 0px 1px inset #7d7d7d, 1px 1px 2px 0px #000000,
		1px 1px 0px 2px #000000, 2px 2px 5px 2px #000000;
	background: black;
	position: relative;
	border-radius: 3px;	
}

div#fev_toggle {
	padding: 10px;
    margin: 10px;
    background: #cecec6;
    box-shadow: -1px -1px 0 1px #808080 inset, 1px 1px 0 1px #fff inset, 0px 0px 0px 1px inset #7d7d7d, 1px 1px 2px 0px #000000, 1px 1px 0px 2px #000000, 2px 2px 5px 2px #000000;
    color: #000;
    cursor: pointer;
}

/* .model_box:hover {  
    transition: 1.0s all;
    transform: scale(1.1,1.1);
} */

.model_name {
	background: #000000;
	/* padding: 5px 10px; */
	word-wrap: break-word;
	font-size: 12px;
	box-shadow: 0px 0px 0px 1px inset #7d7d7d, 1px 1px 2px 0px #000000;
	border-radius: 3px;
}

div#fev_toggle_empty {
    padding: 20px;
    margin: 0px auto;
    /* min-height: 150px; */
    width: 90%;
    box-shadow: 0px 0px 0px 1px inset #7d7d7d, 1px 1px 2px 0px #000000, 1px 1px 0px 2px #000000, 2px 2px 5px 2px #000000;
    background: #490000;
    position: relative;
    border-radius: 3px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 5;
	display: none;
}

.owner_name {
    padding: 3px 5px;
    word-wrap: break-word;
    font-size: 11px;
    position: absolute;
    bottom: 0;
    text-align: right;
    right: 0;
    background: #00000078;
    margin: 2px;
    backdrop-filter: blur(3px);
    z-index: 1;
    width: -webkit-fill-available;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}

.owner_name_prefix {
    margin-right: 2px;
    color: #606161;
	pointer-events: none;
}

.hide_el{
	display: none !important;
}

.show_el{
	display: block !important;
}

.name_box {
	width: 100%;
}

.blank_space {
	height: 100px;
}

.blank_bottom_space{
	height: 100px;
}

.img_box {
	width: 100%;
	height: 100%;
	position: relative;
	/*  background: #303030; */
}

#tegs {
	display: none;
}

#info_box {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	pointer-events: none;
}

div#info_box_inner {
	margin: 0 auto;
	text-align: center;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translateX(-50%) translateY(-50%);
	padding: 10px;
	background: rgb(125 125 125 / 90%);
	width: 100%;
	pointer-events: all;
	box-shadow: 0px 0px 0px 1px inset #fff;
	backdrop-filter: blur(10px);
	max-width: 1200px;
}

#mouse_cur {
	position: fixed;
	top: 0;
	width: 30px;
	height: 30px;
	pointer-events: none;
}

.nev_box {
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	flex-direction: column;
	align-content: flex-end;
	justify-content: flex-end;
	align-items: flex-end;
	width: 100%;
	padding: 2px;
}

div#data_info table {
    /* height: 100px; */
    /* position: absolute; */
    left: -1px;
    top: 38px;
    /* transform: translateY(-50%); */
    padding: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    background: #202020;
    box-shadow: 0px 0px 0px 1px inset #7d7d7d, 1px 1px 2px 0px #000000, 1px 1px 0px 2px #000000, 2px 2px 5px 2px #000000;
}

.mini_info {
    background: #000080;
    padding: 0px 3px;
    font-size: 10px;
    box-shadow: 0px 0px 0px 1px inset #7d7d7d, 1px 1px 2px 0px #000000;
    border-radius: 3px;
}

.model_botton {
	/*  background: navy; */
	padding: 5px;
	margin: 1px;
	z-index: 3;
	cursor: pointer;
}

.model_botton:hover > div {
	opacity: 1;
}

.fev > .model_botton_favorite {
	opacity: 1 !important;
	filter: invert(9%) sepia(100%) saturate(7497%) hue-rotate(20deg)
		brightness(90%) contrast(117%);
	/* background: #d40000; */
}

.model_botton div {
	height: 20px;
	width: 20px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	filter: invert(1);
	opacity: 0.2;
}

div#info_box_model_name {
	background: #000080;
	padding: 5px 10px;
	word-wrap: break-word;
	font-size: 12px;
	box-shadow: 0px 0px 0px 1px inset #7d7d7d, 1px 1px 2px 0px #000000;
	max-width: 400px;
	margin: 0 auto;
	/*  margin-top: -20px;
    position: absolute; */
}

.content.content--canvas {
	position: absolute;
	z-index: -1 !important;
}

.model_botton_like {
	background: url(thumbs-up-solid.svg);
}

.model_botton_favorite {
	background: url(heart-solid.svg);
}

.model_botton_url {
	background: url(link-solid.svg);
}

.do_filter_hide {
	display: none;
}

.do_fev_hide {
	display: none;
}


tbody {
    width: -webkit-fill-available;
    margin: 4px 0px;
}

td {
    text-align: left;
    padding: 2px 4px;
    font-size: 10px;
    color:   #adadad
}


tr td:nth-child(1), tr td:nth-child(3) {
    background: #000000;
    text-align: center;
    border-radius: 10px 0px 0px 10px;	
    padding-left: 6px;
    padding-right: 3px;
}


tr td:nth-child(2), tr td:nth-child(4) {
    border-radius: 0px 10px 10px 0px;
    width: 50%;
    background: #000000;
    box-shadow: 0px 0px 0px 1px inset #232323, 1px 1px 2px 0px #000000, 1px 1px 0px 2px #000000, 2px 2px 5px 2px #000000;
}

tr td:nth-child(1), tr td:nth-child(3) {   
	box-shadow: 0px 0px 0px 1px inset #414141, 1px 1px 2px 0px #000000, 1px 1px 0px 2px #000000, 2px 2px 5px 2px #000000;   
}


div#number_item {
    top: 0;
    left: 0px;
    background: #000080;
    padding: 5px 5px;
    width: fit-content;
    box-shadow: 0px 0px 0px 1px inset #7d7d7d, 1px 1px 2px 0px #000000, 1px 1px 0px 2px #000000, 2px 2px 5px 2px #000000;
    /* border-radius: 5px 5px 0 0; */
    position: absolute;
}

div#name_item {
    padding: 10px 10px;
    font-size: 12px;
    padding-top: 30px;
    text-align: center;
}


.vc1 {
    background: #003404 !important;
}

.vc2 {
    background: #343100 !important;
}

.vc3 {
    background: #340000 !important;
}

@media only screen and (max-width: 500px) {
	.model_box {
		margin: 3px;
		width: 48%;
	}

	.img_inner {
		width: 100%;
		height: 100%;
		opacity: 0.05;
	}

	div#top_header {			
		font-size: 10px;
		text-align: center;
	}

	#top_header a{
		font-size: 10px;
    display: block;
    text-align: center;
	}



}

@media only screen and (max-width: 300px) {
	.model_box {
		margin: 3px;
		width: 80%;
	}

	#top_header,#blank_space{
		display: none;
	}

	.img_inner {
		width: 100%;
		height: 100%;
		opacity: 0.05;
	}


	


}

@media only screen and (max-width: 200px) {
	*{
		font-size: 10px !important;
	}

	.model_box {
		margin: 3px;
		width: 80%;
	}

	div#top_header,#findtag,#blank_space{		
		height: 0px;
		display: none;
	}

	.img_inner {
		width: 100%;
		height: 100%;
		opacity: 0.05;
	}



	
}



